@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    cursor: none;
}
a{
    text-decoration: none;
}
.cursor-dot {
    width: 5px;
    height: 5px;
    background: white;
}
.cursor-outline{
    width: 50px;
    height: 50px;
    border: 2px solid white;
}
.cursor-dot, .cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}

.main_bg {
    min-height: 100vh;
    background-image: url("../assets/bg_main.avif");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hero_sec {
    min-width: 75%;
    min-height: 550px;
    background-color: rgba(22, 22, 21, 0.63);
    border-radius: 20px;
}
.hero_text{
    padding-top: 150px;
    text-align: center;
    color: white;
}
.hero_span{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_main_text {
    font-size: 3.1rem;
}
.hero-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 3.5rem;
}
.hero_btn_primary {
    background: #16FF00;
    color: black;
    font-size: 14px;
    border: none;
    padding: 15px 30px;
    font-weight: 700;
    border-radius: 20px;
    transition: .2s ease;
    font-family: monospace;
    cursor: none;
}
.hero_btn_primary:hover {
    border-radius: 40px 10px;
}
.for {
    color: #16FF00;
}
.pad {
    padding-left: 4px;
}

.hero_btn_secondary {
    padding: 15px 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #16FF00;
    font-family: monospace;
    font-size: 14px;
}
