@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
}
.cursor-dot {
  width: 5px;
  height: 5px;
  background: white;
}
.cursor-outline {
  width: 50px;
  height: 50px;
  border: 2px solid white;
}
.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}
.mission_main {
  background-image: url("https://images.unsplash.com/photo-1567591428427-6e4c80364d59?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1469&q=80");
  background-position: center;
  background-repeat: no-repeat;
}
.mission_hero {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000;
  background-color: rgba(22, 22, 21, 0.91);
  min-width: 80%;
  min-height: 550px;
  border-radius: 20px;
}
.text_span {
  color: #16ff00;
}
.text button {
    background: transparent;
    color: white;
    font-size: 18px;
    border: 1px solid #16ff00;
    margin-top: 60px;
    padding: 20px;
    cursor: pointer;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
section:nth-child(1) {
  color: #fff;
  font-size: 1.6rem;
}
section:nth-child(even) {
  background: #fff;
  color: #000;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 60px;
}
section:nth-child(odd) {
  color: #fff;
}
section .container {
  margin: 100px;
}
section h2 {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}
section .cards {
  display: flex;
  cursor: pointer;
}
section .cards .text-card {
  background: #16ff00;
  color: black;
  margin: 30px;
  padding: 30px;
  border-radius: 10px 30px;
}
section .cards .text-card h3 {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  margin: bottom;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 20px;
  }
  section .cards {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
